/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap');

body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Roboto";
  color: #999999;
}


/* CONTAINER */
.Container {
  border: 2px solid #eeeeee;
  border-radius: 4px;
  width: 50%;
  margin: 64px auto auto;
  background-color: #ffffff;
}

.ContainerHeader {
  border-bottom: 2px solid #eeeeee;
  padding: 32px;
}

.ContainerHeaderSection {
  display: inline-block;
  width: 50%;
}

.ContainerHeaderSection:not(:first-of-type) {
  text-align: right;
}

.ContainerHeaderSectionPrimary {
  font-size: 16px;
  font-weight: 700;
}

.ContainerHeaderSectionSecondary {
  margin-top: 4px;
  font-size: 24px;
}

.ContainerBody {
  padding: 32px;
}


/* STATISTICS */
.Statistics {
  display: flex;
}

.StatisticsSection {
  flex-grow: 1;
}

.StatisticsSection:first-of-type {
  padding-right: 8px;
}

.StatisticsSection:not(:first-of-type) {
  padding-left: 8px;
}

.StatisticsSectionContent {
  flex-grow: 1;
  border: 2px solid #eeeeee;
  border-radius: 4px;
  padding: 16px;
}

.StatisticsSectionContentHeader {
  font-weight: 700;
}

.StatisticsSectionContentBody {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}


/* PIE CHART */
.PieChart {
  position: relative;
  border-radius: 128px;
  background-color: #eeeeee;
  width: 128px;
  height: 128px;
  overflow: hidden;
}

.PieChartRight {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #2EBAEE;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.PieChartRightMask {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  transform-origin: 0% 50%;
  transition: transform 1s;
}

.PieChartLeft {
  position: absolute;
  top: 0;
  left: -50%;
  background-color: #2EBAEE;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.PieChartLeftMask {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  transform-origin: 0% 50%;
  transition: transform 1s;
}

/* TASK LIST */
.TaskListControls {
  display: flex;
  margin-top: 16px;
}

.TaskListControlsInput {
  flex-grow: 1;
  border-color: #eeeeee;
  border-style: solid;
  border-radius: 4px;
  margin-right: 16px;
  padding-left: 8px;
  padding-right: 8px;
  color: #999999;
}

.TaskListControlsInput::placeholder {
  color: #cccccc;
}

.TaskListControlsButton {
  border-style: none;
  border-radius: 4px;
  background-color: #cccccc;
  width: 128px;
  height: 32px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.TaskListListItem {
  display: flex;
  align-items: center;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin-top: 16px;
  padding: 32px;
}

.TaskListListItemCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 2px;
  margin-right: 32px;
  width: 32px;
  height: 32px;
}

.TaskListListItemCheckbox--Checked:after {
  content: "+";
  color: #cccccc;
  font-family: arial;
  font-size: 24px;
  transform: rotate(45deg);
}

.TaskListListItemValue {
  flex-grow: 1;
}
